.footer-container {
    min-height: 250px;
    display: flex;
    background-color: #530953;
    padding: 3.5rem;
    box-sizing: border-box;
    flex-direction: column;
}

.top-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.navbar-container-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navbar-container-footer a,
.navbar-container-footer h3 {
    color: #fff;
}

.navbar-container-footer h3 {
    margin-bottom: 10px;
}

.navbar-container-footer a {
    text-decoration: none;
    padding: .14rem 0;
    height: 25px;
    &:hover {
        border-bottom: 1px solid #fff;
    }
}

.container-title-footer {
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
}

.copyright {
    color: #fff;
    text-align: center;
    margin-top: 40px;
}

@media (min-width: 710px) and (max-width: 900px) {
    .copyright {
        margin-top: 30px;
    }
}

@media screen and (max-width: 700px) {

    .footer-container {
        padding: 2.5rem;
    }

    .copyright {
        margin-top: 20px;
        font-size: .75rem;
    }
}